@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");
@import url("https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day");
body,
html {
  font-family: 'Amatic SC', cursive;
  height: 100%;
  overflow: hidden;
}
.header {
  color: #373737;
  text-align: right;
}
.page-title {
  font-family: 'Cedarville Cursive', cursive;
  color: #c0b283;
  margin-bottom: 30px;
}
.subtitle {
  font-family: 'Dawning of a New Day', cursive;
}
@media (min-width: 1px) and (max-width: 449px) {
  body {
    background: url("images/portrait_bw_p.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .header {
    margin: 20px;
  }
}
@media (min-width: 450px) {
  body {
    background: url("images/portrait_bw_l.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .header {
    margin: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .page-title {
    font-size: 70px;
  }
  .subtitle {
    font-size: 24px;
  }
}
