@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo");

body,
html {
  font-family: 'Nanum Myeongjo';
  height: 100%;
  overflow: hidden;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text-block {
  font-size: 24px;
  text-align: justify;
}
.links {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1px) and (max-width: 499px) {
  body {
  }
}
@media (min-width: 500px) {
  body {
  }
  .text-block {
    width: 500px;
  }
}
